<div id="logreg-forms">
    <form class="form-signin" (ngSubmit)="login()" #f="ngForm">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span>
            </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span>
            </button>
        </div>
        <p style="text-align:center"> OR </p>

        <input type="email" id="inputEmail" name="username" [(ngModel)]="model.username" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" id="inputPassword" name="password" [(ngModel)] = "model.password" class="form-control" placeholder="Password" required="">

        <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
        <hr>
        <a href="#" id="forgot_pswd">Forgot password?</a>
        <br>
        {{errorMessage}}
    </form>

    <br>

</div>